body {
	background-color: #e6fff5;
}
.main_body {
	min-height: 2000px;
	padding-top: 70px;
}
.navbar-inverse {
	background-color: #260d26;
}
.login_username {
	padding-top: 40px;
  	padding-bottom: 40px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.loginError {
	word-wrap: break-word;
}
.topicErrors {
	margin: 0px;
	margin-bottom: 4px;
	padding-top:2px;
	padding-bottom: 2px;
	word-wrap: break-word;
}
textarea {
	resize: vertical;
}
#topic_block {
	background-color: #f2e6ff;
	padding: 30px 40px;
	margin-bottom: 10px;
}
.like_number {
	color: green;
}
.dislike_number {
	color: red;
}
.welcome {
	background-color: #ccd9ff;
	display: inline-block;
	padding-bottom: 7px;
	border-radius: 5px;
}
.main_content_topic {
	background-color: #ffe6e6;
	padding: 10px 20px;
	border-radius: 10px;
}
.topic_table {
	background-color: #e0ebeb;
	border: 1px solid #800000;
}
.search_topic {
	margin-bottom: 10px;
}
.topic_form_div {
	background-color: #e6ccff;
	border-radius: 10px;
	padding: 20px 0 5px 0px;
	margin: 15px 0px 7px 0px;
}
#new_post_block {
	padding: 15px 50px 25px 50px;
	background-color: #ffcccc;
	margin-bottom: 10px;
}
.posts {
	background-color: #ffcccc;
	word-wrap: break-word;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 10px;
}
.comments {
	margin-left: 110px;
}
.comment {
	background-color: #ccffcc;
	padding: 15px;
	border-radius: 10px;
	margin-bottom: 10px;
}
.post {
	background-color: #ccccff;
	padding: 15px;
	border-radius: 7px;
	margin-bottom: 10px;
}
.comment_button {
	padding-top: 59px;
	padding-bottom: 59px;
}
.button_like, .button_dislike {
	display: inline-block;
}
.post h2 {
	margin-top: 0;
}
#profile_data {
	padding: 30px;
}
.profile_title {
	background-color: #f2d9d9;
	padding-left: 10px;
	padding-bottom: 10px;
	border-radius: 40px;
}
.profile_username {
	margin-top: 10px;
	padding-bottom: 10px;
	border-radius: 20px;
	background-color: #ccd9ff;
	display: inline-block;
}
.profile_count {
	margin-top: 10px;
	padding-bottom: 10px;
	border-radius: 20px;
	background-color: #ccd9ff;
}
