<fieldset>
	<legend>Customize Users Controller</legend>
	<form ng-submit="createUser()">
		<p>
			<label for="first_name">First Name</label>
			<input type="text" id="first_name" ng-model="newUser.first_name">
		</p>
		<p>
			<label for="last_name">Last Name</label>
			<input type="text" id="last_name" ng-model="newUser.last_name">
		</p>
		<p>
			<label for="language">Favorite Language</label>
			<input type="text" id="language" ng-model="newUser.language">
			<input type="submit" value="Create User">
		</p>
	</form>
	<table>
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Fav Language</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users track by $index">
				<td>{{ user.first_name }}</td>
				<td>{{ user.last_name }}</td>
				<td>{{ user.language }}</td>
				<td>
					<button ng-click="deleteUser($index)">Delete User</button>
				</td>
			</tr>
		</tbody>
	</table>
</fieldset>
