<h1>new.html</h1>
<form method="post">
	<p>
		<label for="first_name">First Name</label>
		<input type="text" name="first_name" id="first_name" ng-model="newFriend.first_name">
	</p>
	<p>
		<label for="last_name">Last Name</label>
		<input type="text" name="last_name" id="last_name" ng-model="newFriend.last_name">
	</p>
	<p>
		<label for="birthday">Birthday</label>
		<input type="date" name="birthday" id="birthday" ng-model="newFriend.birthday">
	</p>
	<input type="submit" value="Add a new friend">
</form>
