<div class="login_reg_body">
	<div class="container">
		<h2 class="form-signin-heading">Register to see the wall!</h2>

		<form class="form-signin" ng-submit="register()">
			<!-- displaying registration errors if there are any. -->
			<div ng-if="registerErrors" id="registerErrorsDiv">
				<div ng-repeat="error in registerErrors" class="alert alert-danger fade in registerErrors">
				    <strong>Error!</strong> {{ error.message }}
				</div>
			</div>

			<p>
				<label for="email">Email Address</label>
				<input type="text" id="email" class="form-control" placeholder="tommy@dojo.com" autofocus ng-model="newUser.email">
			</p>
			<p>
				<label for="first_name" class="sr-only">First Name</label>
				<input type="text" id="first_name" class="form-control" placeholder="First name" ng-model="newUser.first_name">
				<label for="last_name" class="sr-only">Last Name</label>
				<input type="text" id="last_name" class="form-control" placeholder="Last name" ng-model="newUser.last_name">
			</p>
			<p>
				<label for="username">Username</label>
				<input type="text" id="username" class="form-control" ng-model="newUser.username" placeholder="Username">
			</p>
			<!-- displaying passwords not matching error -->
			<div ng-if="match_fail" class="alert alert-danger fade in registerErrors">
		    	<strong>Error!</strong> {{ match_fail }}
			</div>
			<p>
				<label for="password" class="sr-only">Password</label>
				<input type="password" id="password" class="form-control" placeholder="Password" ng-model="newUser.password">
				<label for="confirm_password" class="sr-only">Confirm Password</label>
				<input type="password" id="confirm_password" class="form-control" placeholder="Confirm password" ng-model="newUser.confirm_password">
			</p>
			
			<button class="btn btn-lg btn-primary btn-block" type="submit">Click to Register</button>
		</form><!-- end of registration form -->

		<h4>Already have an account? <a href="#/login">Click</a> to login!</h4>
	</div>
</div>
